.OrderDetail {
  position: relative;
  width: 1000px;
  max-width: 100%;
  max-height: 100vh;
  padding: 1.2rem;
  background-color: white;
  border-radius: 1rem;

  & input,
  & textarea {
    user-select: none;
    pointer-events: none;
    margin-bottom: 0.4rem;
  }

  & textarea {
    max-height: 4.5rem;
  }

  & label {
    margin-bottom: 0.2rem;
    font-weight: bold;
  }

  &__table {
    position: relative;
    top: -16px;
    max-height: 288px;
    overflow-y: scroll;

    & table thead {
      position: sticky;
      top: 0;
      z-index: 1;
      background-color: #fff;
    }
  }

  &__btn {
    width: 230px;
    display: block;
    margin-left: auto;

    & > button {
      position: relative;
      width: 110px;
      border: none;
      font-weight: bold;
    }

    & button:first-child {
      background-color: orange;
    }
    & button:last-child {
      background-color: green;
    }
  }
}

.OrderDetail::-webkit-scrollbar {
  display: none;
}
