.EmployeeList {
  &__brand {
    font-family: "Pacifico", cursive;
    // font-size: 24px;
    margin-bottom: 0;
    user-select: none;

    & img {
      position: relative;
      top: -2px;
      width: 20px;
      height: 20px;
      object-fit: cover;
    }
  }

  &__increase {
    position: absolute;
    top: 0;

    color: #ccc;

    &--active {
      color: black;
    }
  }

  &__decrease {
    position: absolute;
    top: 0.5rem;
    color: #ccc;

    &--active {
      color: black;
    }
  }
}
