.UserList {
  &__increase {
    position: absolute;
    top: 0;

    color: #ccc;

    &--active {
      color: black;
    }
  }

  &__decrease {
    position: absolute;
    top: 0.5rem;
    color: #ccc;

    &--active {
      color: black;
    }
  }
}
