@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
.Header {
  position: sticky;
  top: 0;
  z-index: 1;

  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fafbfc;

  &__admin {
    display: flex;
    align-items: center;
    margin-right: 1rem;
    color: black;

    & img {
      border: 2px solid #dedede;
    }
  }

  &__title {
    & h2 {
      font-family: "Pacifico", cursive;
      font-size: 26px;
      margin-left: 4rem;
      margin-bottom: 0;

      text-decoration: none;
      line-height: 70px;
      user-select: none;
      pointer-events: none;
    }
    transition: 0.5s;

    & img {
      position: relative;
      top: -4px;
      width: 32px;
      height: 32px;
      object-fit: cover;
    }
  }

  &__title a {
    text-decoration: none;
    color: black;
  }
}
