.SideBar {
  position: fixed;
  left: -280px;
  background-color: #042331;
  width: 280px;
  height: 100%;
  transition: all 0.5s ease;

  & header {
    font-family: "Pacifico", cursive;
    font-size: 26px;
    padding-left: 32px;
    line-height: 70px;

    background-color: #165979;
    color: white;
    user-select: none;
  }

  & ul {
    list-style-type: none;
    padding: 0;
  }

  & ul li a {
    display: block;
    height: 100%;
    width: 100%;
    padding-left: 40px;

    line-height: 65px;
    font-size: 20px;
    text-decoration: none;

    color: white;
    box-sizing: border-box;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid black;

    transition: 0.4s;
  }

  & ul li:hover a {
    padding-left: 50px;
  }

  & ul li a i {
    margin-right: 16px;
  }
}

.active {
  background-color: #053044;
  color: deeppink !important;
  font-weight: bold;
}
