.ProductViewModel {
  &__main {
    position: relative;
    width: 1024px;
    padding: 1.5rem;
    border-radius: 0.3rem;
    background-color: #fff;
  }

  & img {
    width: 100%;
    height: 25rem;
    vertical-align: middle;
  }

  &__list li {
    display: flex;
  }

  &__list div {
    word-break: break-all;
  }

  &__list li div:first-child {
    font-weight: bold;
    width: 50%;
  }

  &__list li div:last-child {
    width: 50%;
    font-weight: 300;
  }
}
