.ProductViewModel {
  &__main {
    position: relative;
    width: 1024px;
    max-width: 100%;
    max-height: 100vh;

    overflow-y: auto;
    overflow-x: hidden;

    padding: 1.5rem;
    padding-top: 1rem;
    border-radius: 0.3rem;
    background-color: #fff;
  }

  & img {
    width: 100%;
    max-height: 520px;
    object-fit: contain;
  }

  &__list li {
    display: flex;
  }

  &__list div {
    word-break: break-all;
  }

  &__list li div:first-child {
    font-weight: bold;
    width: 50%;
  }

  &__list li div:last-child {
    width: 50%;
    font-weight: 300;
  }
}
