.App {
  position: relative;
  background-color: #eceff1;
  height: 100vh;
}

.main {
  transition: all 0.5s;
}

.MainPage {
  padding: 1.2rem;
}

table {
  background-color: #fff;
  border-bottom-left-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
  width: 100%;
  margin-bottom: 0 !important;
}

table td {
  vertical-align: middle;
}

th span {
  position: relative;
  margin-left: 0.4rem;
}

table i {
  cursor: pointer;
  font-size: 1.2rem !important;
}

input[type="file"]::file-selector-button {
  border: 1px solid black;
  border-radius: 0.2em;
  transition: 1s;
}

input[type="file"]::file-selector-button:hover {
  background-color: deeppink;
  color: white;
  cursor: pointer;
}

input[type="file"]:disabled {
  &::file-selector-button:hover {
    background-color: unset;
    color: unset;
    cursor: default;
  }
}
